# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
FUTURE_PROJECT_STRUCTURE.md
project_reference.md
.trae/documents/解决 domain 层结构体绑定问题.md
.trae/documents/file_permissions_dto_optimization_plan.md
word.txt
.trae/specs/file-sharing/tasks.md
.trae/specs/file-sharing/spec.md
.trae/specs/file-sharing/checklist.md
.trae/specs/file-favorites/checklist.md
.trae/specs/file-favorites/spec.md
.trae/specs/file-favorites/tasks.md
.trae/specs/upload-security-speed-limiting/checklist.md
.trae/specs/upload-security-speed-limiting/spec.md
.trae/documents/file-type-check-optimization_plan.md
.trae/specs/upload-security-speed-limiting/tasks.md
.trae/specs/cloud-drive-frontend/checklist.md
.trae/specs/cloud-drive-frontend/spec.md
.trae/specs/cloud-drive-frontend/tasks.md
.trae/documents/fix_file_view_note_plan.md
.trae/specs/fix-registration-record-not-found/checklist.md
.trae/specs/fix-registration-record-not-found/spec.md
.trae/specs/fix-registration-record-not-found/tasks.md
